HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### ExJs ###
storeclient/.architect
storeclient/bootstrap.css
storeclient/bootstrap.js
storeclient/bootstrap.json
storeclient/bootstrap.jsonp
storeclient/build/
storeclient/classic.json
storeclient/classic.jsonp
storeclient/ext/
storeclient/modern.json
storeclient/modern.jsonp
storeclient/resources/sass/.sass-cache/
storeclient/resources/.arch-internal-preview.css
storeclient/.arch-internal-preview.css